@mixin customScrollBar {
  &::-webkit-scrollbar {
    top: 12rem;
    width: 11px;
    height: 11px;
    margin-top: 2em;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(95deg, #1d1f22 43%, #1d1f22 63%);
    border-radius: 13px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #5ece7b;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 11px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}
